body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
}


#nprogress .bar {
    background: #22219b !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #22219b, 0 0 5px #22219b;
}

#nprogress .spinner-icon {
    border-top-color: #22219b;
    border-left-color: #22219b;
}

.t-layout__header {
    height: auto !important;
}

.t-head-menu__submenu {
    margin: 0 !important;
    padding-left: 50px !important;
}

.operation-container {
    display: flex;
    align-items: center;
    margin-bottom: var(--td-comp-margin-xxl);
}

.form-basic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--td-bg-color-container);
    border-radius: var(--td-radius-medium) var(--td-radius-medium) 0 0;
    padding: 0 var(--td-comp-paddingLR-xxl) 80px var(--td-comp-paddingLR-xxl);

    @media (max-width: @screen-sm-max) {
        padding: var(--td-comp-paddingTB-xl) var(--td-comp-paddingLR-xl) 80px var(--td-comp-paddingLR-xl);

        .form-basic-container-title {
            margin: 0 0 var(--td-comp-margin-xxxl) 0;
        }
    }

    .form-basic-item {
        width: 676px;

        .form-basic-container-title {
            font: var(--td-font-title-large);
            font-weight: 400;
            color: var(--td-text-color-primary);
            margin: var(--td-comp-margin-xxl) 0 var(--td-comp-margin-xl) 0;
        }
    }
}
